@charset "utf-8";
$panel_width : 430px;
$panel_height : 330px;

#panel {
	position: absolute;
	width: $panel_width;
	height: $panel_height;
	box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.4);
}

#up {
	width: 100%;
	height: 182px;
	background-image: url(image/hand.png);
	& > .control {
		width: 30px;
		height: 30px;
		display: inline-block;
		position: relative;
		float: right;
	}
	#close:hover {
		background-image: url(image/close.png);
	}
}

#set:hover, #min:hover{
	background-color: rgba(255, 255, 255, .3);
}

#down {
	position: relative;
	width: 100%;
	height: 148px;
	background-color: #ebf2f9;

	& > div {
		position: absolute;
	}
}

#left {
	width: 122px;
	height: 148px;
	left: 0;

	& > .avator {
		display: inline-block;
		width: 80px;
		height: 80px;
		margin: 12px auto auto 42px;
		background: url(image/avator.png);
	}

	& > #addUser {
		display: inline-block;
		width: 39px;
		height: 39px;
		position: absolute;
		left: 0;
		bottom: 0;
		background-image: url(image/adduser.png);
		background-position: -1px 0;
	}
}

#right {
	width: 284px;
	height: 124px;
	padding: 12px;
	right: 0;
	font-size: 12px;
	font-family: Microsoft YaHei;

	& > form > span {
		display: inline-block;
		width: 172px;
		height: 26px;
		padding: 2px 6px;
		border: 1px solid #d1d1d1;
		background-color: white;

		& > input {
			width: 140px;
			height: 26px;
			border: none;
			outline: none;
		}

		& > i {
			display: inline-block;
			width: 26px;
			height: 26px;
			float: right;
		}
	}

	& > form > span:hover {
		border: 1px solid #6BC8F6;
	}
	

	& > form > span:first-of-type {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;

		& > i {
			background-image: url(image/list.png);
		}
	}

	& > form > span:nth-of-type(2) {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;

		& > i {
			background-image: url(image/keyboard.png);
		}
	}
	
	& > form > a {
		text-decoration: none;
		color: #369BE4;
		margin-left: 10px;
	}

	& > form > a:hover {
		color: #82b1e0;
	}

	& > form > div {
		width: 184px;
		height: 15px;
		padding: 4px 0;
		
		& > input {
			margin: 0;
			vertical-align: middle;
			width: 15px;
			height: 15px;
			background-color: #fff;
			border: 1px solid #EAE7E7;

		}
		& > input:nth-of-type(2) {
			margin-left: 54px;
		}

		& > label {
			height: 15px;
			vertical-align:middle;//设置label和input[check]对其的方式
		}
	}

	& > form > button {
		background-color: #369BE4;
		border: none;
		width: 184px;
		height: 30px;
		margin-top: 10px;
		border-radius: 5px;
		color: white;
		font-family: Microsoft YaHei;
	}

	& > #ma {
		display: inline-block;
		width: 39px;
		height: 39px;
		position: absolute;
		right: 0;
		bottom: 0;
		background-image: url(image/ma.png);
	}
}